<?xml version='1.0' encoding='UTF-8' ?>
<?charles serialisation-version='2.0' ?>
<configuration>
    METRIC-M
    METRIC-NA
    some_commit
    some_commit-no_ff
    <allowAnonymous>false</allowAnonymous>
    <users/>
  </remoteControlConfiguration>

    <categories/>
  </categoryConfiguration>
</configuration>
